
h1 {color: #B8998F; font-size: 60px;
  text-align: center;}
h2 {color: #B8998F}
h3 {color: #B8998F}
a:hover {
	color: #B8998F;
	text-decoration: underline;

}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.woff2') format('woff2'),
         url('fonts/Montserrat.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;
	 background-color: #FAF0F6
}









