
h1 {color: #8F756D; font-size: 60px;
  text-align: center;}
h2 {color: #8F756D}
h3 {color: #8F756D}
a:hover {
	color: #8F756D;
	text-decoration: underline;

}
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat.woff2') format('woff2'),
         url('fonts/Montserrat.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
body {
    font-family: 'Montserrat', Arial, sans-serif;
	 background-color: #EBEBE8
}











